{% extends 'index.html' %}

{% block subtitle %}- CV{% endblock %}

{% block content %}
<img src="/img/contact.jpg" alt="Bilde av søker"/>

<h2>Robin Heggelund Hansen</h2>

<ul>
    <li class="header">Systemtuvikler</li>
    <li>Vant til å jobbe i stillinger hvor det er kritisk å raskt kunne lære seg nye ferdigheter. Brenner for programmering, og driver en del selv-opplæring på nye emner for å tilegne meg mest mulig kunnskap.</li>
</ul>

<h2>Utdanning</h2>

<ul>
    <li class="header">Lillestrøm VGS, 2005-2007</li>
    <li>Grunnleggende studiekompetanse.</li>
    <li class="header">Universitet i Oslo, 2011-2012</li>
    <li>Første året på bachelor-programmet Informatikk Programmering og nettverk. Droppet ut da jeg fikk fulltidsjobb i Mynt/Payex.</li>
</ul>

<h2>Erfaring</h2>

<ul>
    <li class="header">IT-Journalist, Hardware.no, 2007-2009</li>
    <li>Ansatt på frilans-basis. Skrevet tilsammen 211 artikler som inkluderer tester, notiser og intervjuer. Hovedfokus på GNU/Linux-baserte operativsystem og åpen kildekode.</li>
    <li class="header">Sambandsteknikker, Artilleribattaljonen i Hæren, 2009-2011</li>
    <li>Vervet tjeneste som sambandsteknikker i operativ (som i utlandsoperasjoner) avdeling. Fokus på drift og opplæring vedrørende IT og radio-kommunikasjon, og samspill mellom disse.</li>
    <li class="header">Systemutvikler, Funkbit, 2011-2012</li>
    <li>Deltidsansatt. Utvikling av web-tjenester og mobile apps (android) som benytter seg av disse web-tjenestene. Utviklingen foregår hovedsaklig i Javascript, Python og Java.</li>
    <li class="header">Systemutvikler, Mynt/Payex 2012-</li>
    <li>Del av ett team som utvikler software til betalingsterminaler. Utviklingen skjer mest i C/C++, mens eksterne verktøy gjerne skrives i Python, Javascript, Clojure eller Lua. Begynte opprinnelig i Mynt, som senere ble kjøpt opp av Payex.</li>
</ul>

<h2>Ferdigheter</h2>

<ul>
    <li class="header">Språk</li>
    <li>Snakker, og skriver, flytende engelsk.</li>
    <li class="header">Programmeringsspråk, med praktisk erfaring</li>
    <li>C, C++, Javascript, Python, C#, Java, Clojure, Lua, CoffeeScript og Objective-C.</li>
    <li class="header">Programmeringsspråk, uten praktisk erfaring</li>
    <li>Scheme, Vala, Go, Scala, Haskell, Erlang  og F#.</li>
    <li class="header">Teknologi og rammeverk</li>
    <li>NodeJS, JQuery, Django, MySQL/PostgreSQL, MongoDD, Redis, PaaS, CSS3 og HTML5.</li>
</ul>

<h2>Referanser</h2>

<ul>
    <li class="header">Lars Storjord</li>
    <li>Konsulent på Mesan, tidligere sjefsutvikler i Mynt.</li>
    <li>Tlf: 416 26 373</li>
    <li>E-post: larsstor@ifi.uio.no</li>
    <li class="header">Mats Barlo</li>
    <li>Daglig leder, Funkbit</li>
    <li>Tlf: 957 77 993</li>
    <li>E-post: mats@funkbit.no</li>
</ul>

<h2>Kontakt</h2>

<ul>
    <li>Tlf: 454 74 775</li>
    <li>E-post: robin.heggelund.hansen@payex.com</li>
</ul>
{% endblock %}
