{% extends 'index.html' %}

{% block content %}
<img src="/img/code.png" alt="Image displaying code"/>

<h2>Søker stilling som web-utvikler hos Skalar</h2>

<p>Jeg er en systemutvikler og IT-entusiast som prøver å komme meg tilbake til
    webutvikling, etter ett år med embedded utvikling for Payex. Jeg fikk øynene
    opp for Skalar, da jeg ser at dere ser etter noen med kjenskap til Node.js,
    HTML5 og CSS3. Javascript er ett av mine favorittspråk, og jeg synes det er
    utrolig givende å jobbe med moderne HTML.</p>

<p>Jeg ser og at dere er hovedsaklig en Ruby on Rails butikk. Jeg kan ikke skryte
    på meg at jeg kan Ruby eller Ruby on Rails (jeg satset heller på Python og
    Django), men hvis dere ser på CVen min så tror jeg dere vil oppdage at jeg
    ikke har noe problem med å lære meg ny teknologi; det er faktisk en av mine
    hobbyer.</p>

<p>Det skal sies at jeg ikke er en designer, men jeg liker å tro at jeg vet hva
    ett godt design er, og at jeg kan lage noe som ser greit ut og er enkelt å
    bruke, uten hjelp fra designer. Det er nok ett stort rom for forbedringer,
    men jeg tar imot utfordringen med åpne armer.</p>

<p>Kort oppsummert så ønsker jeg å jobbe hos Skalar fordi jeg tror det er ett
    sted hvor jeg kan jobbe med det jeg liker best, samtidig som det kan by på
    utfordringer. Jeg liker også at Skalar leker med ny teknologi (Node.js) og
    har ett fokus på TDD/BDD. Det skal ikke legges skjul på at bordtennisbordet
    frister heller.</p>

<p>Håper å høre fra dere!</p>

<p>Med venlig hilsen<br/>Robin Heggelund Hansen</p>
{% endblock %}
