{% extends 'index.html' %}

{% block content %}
<img src="/img/code.png" alt="Image displaying code"/>

<h2>Søker stilling som web-utvikler hos Skalar</h2>

<p>Jeg er en systemutvikler og IT-entusiast som prøver å komme meg tilbake til webutvikling, etter ett år med
 utvikling av programvare for betalingsterminaler. Jeg fikk øynene opp for Skalar, da jeg ser at dere ser etter noen
 med kjenskap til Node.js, HTML5 og CSS3. Dette er teknologi jeg har virkelig lyst å jobbe med på en daglig basis.</p>

<p>En av grunnene til min begeistring for webben, er at det er den eneste teknologien som kan kjøres på tvers
 av alle enheter, og nå ut til mest mulig mennesker uten platform-spesefikk kode.</p>

<p>Jeg ser og at dere er hovedsaklig en Ruby on Rail butikk, og selv om jeg ikke kan Ruby eller RoR, så har jeg
 hørt gode ting om de, og ser frem til å få en unskyldning for å lære meg denne teknologien. Jeg lærer fort, og liker
 dessuten å lære meg nye programmeringsspråk og rammeverk på fritiden.</p>

<p>Det skal sies at jeg ikke er en designer, men jeg liker å tro at jeg vet hva ett godt design er, og at jeg kan lage
 noe som ser greit ut og er enkelt å bruke, uten hjelp av en designer. Det er nok rom for store forbedringer, og er ett
 felt jeg håper å kunne utvikle meg på.</p>

<p>Utenom å kunne by på en utfordring, så virker det som Skalar er en profisjonell bedrift som ikke er redd for å se
 på ny teknologi (Node), har ett bevisst fokus på kodekvalitet (noe TDD/BDD hjelper til med) som også vet hvordan man
 har det gøy (bordtennis for alle penga).</p>

<p>Håper å høre fra dere!</p>

<p>Med venlig hilsen<br/>Robin Heggelund Hansen</p>
{% endblock %}
