#menuBar {
    background-color: black;
}

#menuList {
    padding: 0;
    width: 500px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    list-style-type: none;
}

.menuItem {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 80px;
    height: inherit;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.menuItem:hover {
    background-color: orange;
    color: black;
}

.activeMenuItem {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 80px;
    height: inherit;
    background-color: orange;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.pageContent {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    display: none;
}
