body {
    margin: 0 0 10em 0;
    padding: 0;
}

#menuBar {
    position: fixed;
    width: 100%;
    background-color: #000028;
}

#menuList {
    width: 24em;
    margin: 0 auto;
}

.menuItem {
    display: inline-block;
    list-style: none;
    width: 4em;
    height: 1.8em;
    line-height: 1.8em;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
}

.menuItem a {
    color: #a3d5b9;
    text-decoration: none;
}

.menuItem a:hover {
    color: white;
}

#content {
    padding-top: 3.5em;
    width: 33em;
    margin: 0 auto;
}
